.card-wrapper {
    position: relative;
    display: flex;
    border-width: 2px;
    border: 2px solid gray;
    width: 210px;
    height: 280px;
}

.card-img {
    width: 100%;
    height: 100%;
}

.card-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 4px;
    height: 30%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    border-top: 1px solid gray;
}

.card-placeholder {
    color: red;
    font-size: 16px;
    font-weight: 800;
}

.card-description {
    color: gray;
    font-size: 14px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}