.input-wrapper {
    position: relative;
    width: 100%;
}

.input-content {
    width: 100%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

.input-label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.input-label:focus {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}


.dirty-label {
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.clear-label {
    visibility: visible;
    color: #999;
    transition: all 0.2s ease-in-out;
}