.header-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ED1D24;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.header-navbar a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.header-navbar a:hover {
    color: white;
    opacity: 0.7;
}

.header-navbar a.active {
    text-decoration: underline;
}

.header-logo {
    width: 64px;
    height: auto;
    fill: none;
}